@model List<Products_lost_helps.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>@Session["UsuarioNombre"]</h1>*@
@if (Context.User.Identity.IsAuthenticated == true)
{
    @if (Context.User.Identity.Name != null)
    {
        <h2>Hola @Context.User.Identity.Name</h2>
    }
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 16rem;">
            <img src="@Url.Action("ver", "Principal", new { IdProducts = item.IdProducto })" class="card-img-top" alt="...">
            <div class="card-body">
                <h5> @item.Nombre</h5>
                <p> @item.Descripcion</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>

